[2016-10-05 18:23] oriolmirosa opened #1 "Package screenshot"
<img width="1280" alt="open-files-screenshot" src="https://cloud.githubusercontent.com/assets/6955013/19125970/b3c6724c-8afe-11e6-99d3-8c3f41f40ca7.png">

[2016-10-12 19:59] #1 closed, assigned to nobody

[2016-10-14 06:52] Goodwine opened #2 "Plugin fails to load if "Settings" is open"
I noticed that when you open your editor and the "settings" tab/page/whatever is open, the plugin won't load because it tries to get the "path" from the pane item, and "settings" doesn't have a path.

The exception thrown is:

[code]

[2016-10-14 06:54] Goodwine commented on #2
BTW the current workaround is to close the "Settings" tab (or any other tab that could have no path) and restart/refresh the editor (Normally you can refresh with Ctrl+Alt+R).

[2016-10-14 07:37] Goodwine opened #3 ""Open Files" section doesn't have the same line height on some themes."
I'm using [silvestreh/atom-material-ui](https://github.com/atom-material/atom-material-ui) for my UI Theme, and there is a setting called "Compact tree view".
When using this plugin, I can see the Open Files pane above tree-view, but it has the default height instead of the compact height (and material-ui does take a lot of space if it's not compact).

If it's not possible to fix the panes, can we

[2016-10-14 07:49] Goodwine opened #4 "[FR] Allow "Open Files" panes to collapse"
Very self explanatory, can the whole section collapse as if it was a directory?

[2016-10-14 20:54] oriolmirosa commented on #2
Thanks for the report. I added a try-catch clause around item.getPath() so that the package now works and lists the 'settings' tab.

[2016-10-14 20:55] #2 closed, assigned to oriolmirosa

[2016-10-15 04:18] oriolmirosa commented on #1
![screen shot 2016-10-14 at 22 54 14](https://cloud.githubusercontent.com/assets/6955013/19407323/80f193f2-9264-11e6-9efa-9782dcd03e48.png)

[2016-10-15 04:42] oriolmirosa commented on #4
I just implemented this feature with  6663fb71ac2348f8afe68b51355a7d6b0dc5a356. There is an option in the settings to toggle the feature in case the user does not want the panel to be collapseable and don't want to see the arrow that indicates if the panel is collapsed or not.

[2016-10-15 04:42] #4 closed, assigned to oriolmirosa

[2016-10-15 04:43] oriolmirosa commented on #3
Fixed with commit 6663fb71ac2348f8afe68b51355a7d6b0dc5a356. If this doesn't work properly, or if there are similar problems with other themes, please re-open the issue.

[2016-10-15 04:43] #3 closed, assigned to oriolmirosa

[2016-10-20 12:40] misterbridge opened #5 "[REQUEST] Having the file order configurable, as tab-smart-sort"
I use tab-smart-sort (thanks to you actually) and I keep the default order "dir, ext, base" which I find really nice. I'd like my open files to have the same order as my tabs, so maybe you could add the same settings as tab-smart-sort  "dir, ext, base" /  "base, ext, dir (that's kinda what your default here)" / etc. ?

[2016-10-22 04:22] oriolmirosa commented on #5
Added this functionality with commits 71aeb2297b7a6e9d5832eaada3fadc47f961aad5 and 306e120f115c80520d600324d02da8090a02e7bb. @misterbridge, it would be great if you could check that it works properly and re-open this bug if it doesn't, since I made a few quick changes that I'm not sure will work in all cases.

[2016-10-24 09:17] misterbridge commented on #5
Great ! Works perfectly, thanks a lot !

[2016-10-24 12:34] misterbridge commented on #5
Ha, actually I found a bug : As I sort first by "dir" I saw that you take care of the file's parent dir only, not the full tree. (When tab-smart-sort looks are the full tree => sort by the parent's parent's ... folder first)
_Edit : I don't know how to re-open this issue ..._

[2016-10-24 19:07] oriolmirosa commented on #5
Hmm, I'm a little confused @misterbridge . Right now, the sort function alphabetically compares the lower-cased version of the whole path of each file. That means that the higher in the tree, the higher up in the sort order a file will be. For each level in the tree, directories are then ordered alphabetically. I took most of this from tab-smart-sort, and it seems to work for me. Can you give me s

[2016-10-25 08:08] misterbridge commented on #5
Herer you can see it :

Order : appli first, test second (on tab-smart-sort)
Order : test first, appli second (on open-files)

![open-files order issue](https://cloud.githubusercontent.com/assets/7162404/19677688/bc713174-9a9a-11e6-9bfe-c3874894e99a.png)

[2016-10-25 22:49] oriolmirosa commented on #5
Thanks for the info, @misterbridge . I found what the problem was. This should be fixed with 96db3420ba38c4db03a3ebbd8321079dea980f7e, but please let me know if you are still encountering problems.

[2016-10-25 22:49] #5 closed, assigned to oriolmirosa

[2016-10-26 08:15] misterbridge commented on #5
Fixed ! Thanks, perfect.

[2016-12-21 02:08] EmilVarona opened #6 "Open file order is alpha and doesn't match tab order"
Hi, I installed this today and expected the file list order to match the tab order (as it does in Sublime Text). The settings allow for a sort order options of base, ext and dir. How can I get this to list the files in the same order as the tabs?

[2016-12-23 05:04] oriolmirosa commented on #6
At this point, open-files does not follow or affect the order of the tabs. The mechanism to sort the files in open-files, however, is taken directly from an Atom package called [tab-smart-sort](https://atom.io/packages/tab-smart-sort). If you install it and set the tab order to be the same as the files order in open-files, you will achieve what you want.

[2016-12-23 05:04] #6 closed, assigned to nobody

[2017-01-16 12:51] rollecode opened #7 "Drag and drop order"
Hello, I really love the package, but is it possible to add drag and drop order change support like in ST?

[2017-01-18 02:32] oriolmirosa commented on #7
Right now, if the name of a file is changed the list of open files is not re-ordered. I was planning on working on that next, and when I saw this issue I thought that drag and drop would not be compatible with that automatic re-sorting. But now I think that the best way to deal with this would be to provide the option to sort automatically (with re-sorting when there's a name change), and then an

[2017-01-27 15:04] misterbridge opened #8 "Atom update to 1.13 - Object.dirname is deprecated / Object.extname is deprecated"
After updating Atom to 1.13 (1.13.1 actually) I got those 2 deprecations warnings.

Argument to `path.dirname` must be a string
[code]

---

Argument to `path.extname` must be a string
[code]

[2017-01-30 15:40] oriolmirosa commented on #8
Fixed. Thanks for reporting!

[2017-01-30 15:40] #8 closed, assigned to nobody

[2017-04-09 21:02] iscjavierglez opened #9 "Uncaught TypeError: Cannot read property 'is' of null"
[Enter steps to reproduce:]

1. ... Open project
2. ... Press Ctrl + K + B

**Atom**: 1.15.0 ia32
**Electron**: 1.3.13
**OS**: Microsoft Windows 7 Professional
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.4.2

### Stack Trace

Uncaught TypeError: Cannot read property 'is' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-09 21:59] oriolmirosa commented on #9
I just pushed a release that, hopefully, will take care of this (as well as other related problems). I'll close the issue, but please re-open it and let me know if the problem persists.

[2017-04-09 21:59] #9 closed, assigned to nobody

[2017-04-27 08:05] pipic1 opened #10 "Uncaught TypeError: Cannot read property 'element' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.5.2

### Stack Trace

Uncaught TypeError: Cannot read property 'element' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-27 14:26] oriolmirosa commented on #10
I can't reproduce the issue. Am I correct that you were just deleting a word in a file when the error message appeared? Can you tell me what kind of file you were editing when this happened?

[2017-04-27 18:46] pipic1 commented on #10
Hi, yes when a deleting a word in a file, the message appears and also when I save it. I work with Embedded RuBy (with double file extension **example_file.html.erb**)

[2017-04-27 22:12] oriolmirosa commented on #10
I added all of your packages to my Atom installation and tried with an .html.erb file and I still can't reproduce the problem. It all works fine for me. I wonder if this is a Windows problem (I use OS X and I don't have access to a Windows system, so I can't try it there). Does the problem file appear in the 'Open Files' list before you try to erase and save, or does it not even appear there? Does

[2017-05-04 09:25] erwango commented on #10
I get the same error with c files.
When deleting a line I get the same error:

TypeError: Cannot read property 'element' of undefined
    at OpenFilesPaneView.updateModifiedState (/local/home/frq07517/.atom/packages/open-files/lib/open-files-pane-view.js:221:15)
    at /local/home/frq07517/.atom/packages/open-files/lib/open-files-pane-view.js:176:18
    at Function.module.exports.Emitter.simpleDis

[2017-05-06 03:18] oriolmirosa commented on #10
I still can't reproduce, but I made some changes that might take care of this. Can you please let me know if the problem is still there? Thanks!

[2017-05-12 13:59] J-Mills commented on #10
I also found this problem but only when I had two or more files open and split them between panes.

[2017-05-12 14:56] oriolmirosa commented on #10
Damn. I was hoping this would be fixed. I tried to split files between panes and I still can't reproduce the bug. @J-Mills , could you please give me more details about your setup, and how exactly you got the problem to appear? Thanks!

[2017-05-18 11:44] Cr0WD opened #11 "Uncaught Error: Adding a pane item with URI 'D:/git\nytek_crm_client\src\components\organizations..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.5.4

### Stack Trace

Uncaught Error: Adding a pane item with URI 'D:\git\nytek_crm_client\src\components\organizations\EditForm.js' that has already been destroyed

[code]

### Commands

[code]

##

[2017-05-18 15:35] oriolmirosa commented on #11
This should be fixed now. Please re-open if it's still giving you trouble. Thanks for reporting!

[2017-05-18 15:35] #11 closed, assigned to nobody

[2017-05-18 17:08] J-Mills commented on #10
Really sorry I didn't get back to you sooner! I didn't get a notification for your reply.

[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 x64
**Electron**: 1.3.15
**OS**: Microsoft Windows 10 Education
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.5.5

### Stack Trace

Uncaught TypeError: Cannot read property 'element' of undefined

[code]

### Co

[2017-05-18 21:50] talshorer opened #12 "Support ordering by order of files in pane"
Love this package, but I would personally prefer if the files were ordered the same way they're ordered within the pane (so the leftmost tab in the pane is at the top of the list, and so forth).
Is such a thing possible?

[2017-05-18 22:41] oriolmirosa commented on #12
You can modify the order of the files in the settings. I use the same system that the [tab-smart-sort](https://atom.io/packages/tab-smart-sort) package, which allows you to set the order of your tabs. So, if you install tab-smart-sort and set the same order of files in open-files (for instance, directory – extension – filename as 'dir, ext, base'), then you'll have what you want. I'm closing the i

[2017-05-19 05:29] oriolmirosa commented on #10
Thanks for the info, @J-Mills. I was able to reproduce and work on the bug. I think it should be fixed now in version 0.5.6, but please let me know if you're still encountering the problem

[2017-05-19 05:29] #10 closed, assigned to nobody

[2017-05-19 08:13] talshorer commented on #12
I think you misunderstood me, so let me try to explain again:
Currently I can reorder tabs around in panes freely, and I end up sorting them so I can move quickly between related files (e.g. a class and its main user might end up near each other despite being far alphabetically).
When you work on a large project and you end up with 20+ open files, remembering the exact order within panes becomes i

[2017-05-19 08:47] Cr0WD opened #13 "Uncaught Error: Adding a pane item with URI 'D:/git\nytek_crm_client\src\styles\components\Filter..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 ia32
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.5.6

### Stack Trace

Uncaught Error: Adding a pane item with URI 'D:\git\nytek_crm_client\src\styles\components\Filters.scss' that has already been destroyed

[code]

### Commands

[code]

### Non-

[2017-05-19 13:04] J-Mills commented on #10
@oriolmirosa It's fixed!! Thank you. Everything seems to work fine now. Great package by the way - the only one I've found that actually works.

[2017-05-19 15:17] oriolmirosa commented on #13
Ooops, sorry for the regression. I think 0.5.7 should fix this. Let me know and reopen the bug if the issue continues and I'll investigate further.

[2017-05-19 15:17] #13 closed, assigned to nobody

[2017-05-19 15:31] oriolmirosa commented on #12
Thanks for the clarification, @talshorer. I now see what you meant. I think that this is related to #7, and I definitely need to come up with a flexible approach that can take care of all these use cases. I'm moving across the country this weekend and I need to find a new job and get married in the next month, so I may not be able to get to this right away, but I hope I'll be able to work on this

[2017-05-22 18:42] NTShop opened #14 "Feature Request - Tree View"
I wonder if you could possibly add a feature? I'm willing pay for it via PayPal.

What I'd like to have is for the package to iterate its list of open files in a tree view (like the tree view built into Atom) except the tree view would only show open files in the tree. For example, if I have the file /var/www/xyz/abc/thisfile.js open, /var/www/xyz/anotherfile.js open, and /var/testing/thisfile.js

[2017-05-25 18:51] oriolmirosa commented on #14
Sorry for the delay in replying. I just moved to a different state and the last week has been crazy. I like the feature you suggest, but I need to spend some time exploring it. It would probably require a pretty thorough rewrite of the package, but if I manage to find a way forward it would make it more flexible and complete, and it would also open up other possibilities for features. I'll look in

[2017-06-01 13:45] gtozzi opened #15 "Icons"
This is a very useful package, thank you!!!

Would it be possible to also have files icons? (the same icons that are displayed on tree view)

[2017-06-01 13:59] oriolmirosa commented on #15
The package already shows the same icons as in the tree view. The problem is that they don't appear when you first create a file. But if you reload Atom after the file has been created (command + J + K + L in a Mac), or if you close the file and then open it again, the icon should be there. Is that not the case for you?

In any case, I'll leave the bug open so that I can work on making sure that t

[2017-06-01 14:24] gtozzi commented on #15
Nope, this is what i see even after restarting atom:

![Screen](http://picpaste.com/pics/screen4-9HT26Di7.1496326975.jpg)

Thank you for your reply!

[2017-06-01 14:31] oriolmirosa commented on #15
Hmm... then I need more info so that I can reproduce the problem and see what the issue is, because it works in my machine. Can you tell me what your system is and what packages you have loaded (particularly any packages that affect the icons)? Thanks!

[2017-06-01 14:41] gtozzi commented on #15
Atom 1.17.2 x64 on Linux

Packages:
- atom-typescript
- busy-signal
- **file-icons**
- github-atom-light-syntax
- intentions
- linter
- linter-ui-default
- minimap
- open-files
- pigments
- project-plus
- symbols-tree-view
- tab-control
- todo-show

Following your hint, i tried disabling the _file-icons_ package and then restarting atom, nothing changed.

[2017-06-01 14:46] oriolmirosa commented on #15
Thanks for the quick response. I see what the problem is. I use the seti-icons package, not file-icons. When I switch to file-icons I have the same problem as you. I'll have to investigate what the issue is with the package and look for a solution. I'm pretty busy at the moment since I just moved to a new state and I'm looking for a job, but I'll try to get to this as soon as I can.

[2017-06-01 14:51] gtozzi commented on #15
Thank you, good luck for you job!

[2017-06-01 23:32] revelt opened #16 "Try slow double-clicking on a file in the tree view"
When I double-click the file in the tree view, the first click adds that file to the "Open Files" list at the top, which instantly pushes down the tree view by one row. Then second click (from my double-click) happens, and it is registered as an intention to open another file, the one above intended file.

It's quite annoying, as occasionally I happen to open a wrong file.

Try slower double-click

[2017-06-02 19:36] vvs commented on #12
Let me add my +1 to this feature request. I am also arranging my open files manually, depending on the task at hand. Most important ones are typically at the beginning of the tab bar.

It would be really, really nice for the open file list and the tab bar to be in sync w.r.t. manual ordering.

Ideally, yeah, when file order is changed in one place, it should be reflected in the other. Personally,

[2017-06-05 15:04] oriolmirosa commented on #16
Thanks for bringing this up. Yes, I also noticed this problem. I followed your suggestion and I'm making some changes to the package to delay the appearance of the file in the 'open files' panel. I made the duration of the delay configurable, and I also added an animation so that that the appearance of the file in the panel is smoother (the duration of the animation is also configurable). I'm deal

[2017-06-05 20:12] vvs commented on #15
I can confirm that file-icons are not shown for me as well. All i see is the generic file icon for every file (no matter the extension).

Oh, and btw, I also found that in some fork of this project, there is the file-icons support implemented:
https://github.com/davidashman/working-files/commit/68fd7a9452a64e9b54e2d00589e0b8abec55aaba

[2017-06-06 01:16] oriolmirosa commented on #16
This should be done in 0.6.0. I'll close the bug, but please let me know if there's any problems and we can reopen it.

[2017-06-06 01:16] #16 closed, assigned to nobody

[2017-06-06 14:01] oriolmirosa commented on #15
Thanks for your feedback and comments. 0.6.1 should have this fixed, so now the icons both from the file-icons and the seti-icons packages should appear properly in the 'open files' panel. I'm closing the bug, but please let me know if there are any problems and we can re-open it. Thanks again!

[2017-06-06 14:01] #15 closed, assigned to nobody

[2017-06-06 14:06] gtozzi commented on #15
I confirm it works for me. Thank you.

[2017-06-06 16:33] vvs commented on #15
Excellent, it works for me as well! Many thanks!

[2017-06-07 11:01] odlevakp opened #17 "Two times "Open Files" entry"
After installing, I can see the "Open Files" entry 2x, first contains opened files, second one is empty.

![screen shot 2017-06-07 at 12 58 30](https://user-images.githubusercontent.com/6029696/26875256-5744104e-4b81-11e7-89f6-9e5f58da6de2.png)

[2017-06-07 13:34] oriolmirosa commented on #17
Thanks for reporting this. Can you give me some more information? What version of Atom are you using? What packages are loaded? How many panels are open? Any other info that could help me reproduce the bug?

[2017-06-07 13:44] odlevakp commented on #17
Sure, when I close all panels it's till there 2x. Once I start opening files, new panels are added only under the first one, second one remains empty.

It might be just my atom installation, can try later on another computer, since even going `File/New File` throws an exception (unrelated to this issue)
```Uncaught TypeError: Cannot read property 'nextSibling' of undefined```

Here are details:

*

[2017-06-07 18:47] oriolmirosa commented on #17
If, when you have several files open and the 2x 'open files' panels are visible, you press Control + Option + Command + L and Atom reloads, do the problems persist? At this point I can't reproduce this, but I will probably have to rewrite much of the package to make it work with the upcoming Atom 1.18 (it is totally broken with the beta), and so it might make sense to leave this bug open until the

[2017-06-08 02:52] oriolmirosa commented on #17
Hi, @odlevakp. You were right about the problems with the `Uncaught TypeError: Cannot read property 'nextSibling' of undefined` error. I think I fixed that in 0.6.2. Can you please take a look and let me know if the problem persists? Also, if the problem is fixed, could you tell me if the issue with 2x 'open files' is still there? I have not been able to reproduce that one. Thanks!

[2017-06-08 07:32] vvs commented on #17
This is news for me, open-files 0.6.1, as well as 0.6.2 works great on 1.18 :)

[2017-06-08 08:35] odlevakp commented on #17
@oriolmirosa Thanks for that exception fix!

As for the 2x Open Files issue, I wasn't able to replicate on my Ubuntu box, then found out what caused it - basically my atom editor had 2 split panes opened, where one was dragged to the edge and invisible. I don't know why atom didn't close that empty pane (when trying to replicate, it always did), but that's why I saw the second Open Files entry as

[2017-06-08 13:46] oriolmirosa commented on #17
Alright, I'm closing this bug then. Thanks for the help, @odlevakp. @vvs funny that 0.6.1 worked for you. It was a mess for me. Hopefully 0.6.2 works for everybody.

[2017-06-08 13:46] #17 closed, assigned to nobody

[2017-06-08 22:27] solly0702 opened #18 "Uncaught TypeError: Cannot read property 'nextSibling' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.5
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.7.1

### Stack Trace

Uncaught TypeError: Cannot read property 'nextSibling' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-06-09 01:09] oriolmirosa commented on #18
Hi, @solly0702, thanks for reporting the bug. I can't really reproduce this, but would you mind checking if the bug is still there with the latest version of the package (0.7.2)? If it is still present, could you tell me what files you have open at the time, and which you have closed recently? I'm particularly interested in non-traditional files, such as 'settings', 'deprecation cop', etc. Thanks!

[2017-06-09 15:55] gtozzi commented on #18
This issue also appeared for me on 0.6.1. I then updated to 0.7.2 and it now seems to be gone, but I am not 100% sure, since it seems to be intermittent.

[2017-06-09 16:12] oriolmirosa commented on #18
Thanks for the feedback, @gtozzi. I will leave the bug open for a couple of weeks longer. Please let me know if the problem re-appears.

[2017-06-16 11:11] gtozzi commented on #18
The problem is back.

It worked for a few days and then it worked the whole morning. Then now, after no apparent reason, the problem appeared.

The file/line is now: .atom/packages/open-files/lib/open-files-pane-view.js:184

Trace: TypeError: Cannot read property 'nextSibling' of undefined
    at ~/.atom/packages/open-files/lib/open-files-pane-view.js:184:66
    at Config.module.exports.Config.obs

[2017-06-16 16:13] oriolmirosa commented on #18
Thanks for letting me know about this, @gtozzi. Since I can't reproduce, could you let me know what files you have open at the time, and which you have closed recently? I'm particularly interested in non-traditional files, such as 'settings', 'deprecation cop', etc. Thanks!

[2017-06-16 16:38] gtozzi commented on #18
Thanks for your reply!
Sadly, it is not gone again, but it looks like I had nothing unusual opened.

Maybe it has something to do with the amount of files opened instead? When I open two windows, with a different project per window, here is what I get:
http://picpaste.com/screen4.jpg

The 2nd-opened project has a blank file bar.
I wasn't unable to exactly reproduce the error, but it looks like the

[2017-06-18 12:27] gtozzi commented on #18
It definitely has something to do with multiple panels opened.

Today I've split the window by mistake by dragging a file tab and there the bug came back.
I only had 3 very normal and small files opened this time.

I've then restarted atom and tried hard to reproduce it without success :(.

[2017-06-19 05:48] oriolmirosa commented on #18
Thanks again for your feedback, @gtozzi. I just published version 0.8.0. I've rewritten large parts of the package and I think it should be much more stable now. Since I can't reproduce the bug I'm not sure the recent changes take care of this, but I hope they do. Give it a spin and let me know if the problem persists. I'll leave the bug open for the moment.

[2017-06-19 16:51] JakClark-SpiralMedia commented on #18
Thanks for the quick update but unfortunately 0.8.0 doesn't seem to fix this for me.

I too have been using the split panes and this is the only time I seem to experience the issue. Haven't been using Atom for very long, though, so don't know what useful information (if there is any) I can share.

[2017-06-19 20:07] oriolmirosa commented on #18
Thanks for the report. After upgrading to 0.8.0, have you reloaded the window (View -> Developer -> Reload Window), or closed and restarted Atom? I am not able to reproduce the problem. I've been opening and closing files, editing them, having multiple panels, etc. and it works fine for me, so it's hard to know how to fix this if I can't identify the culprit. The most useful information would be t

[2017-06-20 00:39] gtozzi commented on #18
Thank you again for your replies and for the update. Unfortunately, it just happened again.

This time I had no files opened. I switched from project A to project B, than I closed all tabs. When I opened the first file, I got the error.

New trace:
~/.atom/packages/open-files/lib/open-files-pane-view.js:265
TypeError: Cannot read property 'nextSibling' of undefined
    at ~/.atom/packages/open-fil

[2017-06-20 01:06] oriolmirosa commented on #18
Hmm... How did you switch between projects?

[2017-06-20 01:11] gtozzi commented on #18
ctrl+alt+p (I am not sure if the hotkey is atom builtin or part of the project-plus package)

[2017-06-20 03:20] oriolmirosa commented on #18
Ok, I now have the problem as well, including the empty 'open files' panels when opening new projects. As far as I can see, this is related to the `project-plus` package. @JakClark-SpiralMedia, if you have a minute, could you please let me know if you are using that package as well, or any other package for project management or that will open several Atom windows? I use the `project-manager` pack

[2017-06-20 23:52] oriolmirosa commented on #18
I just published 0.8.1. This release takes care of the problems when the project is switched into the same window, so there shouldn't be any more duplication of 'open files' panels. I also took care of the only instance in which I could reproduce the `Cannot read property 'nextSibling' of undefined` error, which had to do with creating new files. I'm not sure if these changes will take care of all

[2017-06-21 03:03] gtozzi commented on #18
Thank you again for keeping improving this plugin. You don't have to be sorry: you are doing a very good job for free :D

Unfortunately, the problem is still there after upgrade & restart. I only had a single project open this time. I used the "close all tabs" function, then when I re-opened first file... *bang*
The "close all tabs" + open seems to be a recurring pattern, yet I still can't find a

[2017-06-25 00:35] gtozzi commented on #18
Ok, I've found how to reproduce it:
1. Load some project and have some files opened from that project
2. Use the "Close all Tab" function form the "File" menu
3. Open a new file from somewhere outside the project folder you had opened before

[2017-06-27 16:54] oriolmirosa commented on #18
Thanks so much for this. I can reproduce now as well. I'm flying back after getting married last weekend but I'll try to work on this later this week.

[2017-06-27 19:38] gtozzi commented on #18
![:D](https://thumbs.dreamstime.com/b/party-illustration-9070795.jpg)
Congrats for your wedding!!!

[2017-06-28 02:13] oriolmirosa commented on #18
Ha ha! Thanks so much!

[2017-06-28 22:10] oriolmirosa commented on #18
I hope this issue is resolved now. As the release notes for [0.8.2](https://github.com/oriolmirosa/open-files/releases/tag/v0.8.2) say, I think the problem was that the removal of elements was done based on their indices, and when several were removed at the same time (as when you closed all tabs simultaneously) the delays and animations generated mismatches that created problems when new files we

[2017-06-29 05:03] gtozzi commented on #18
Thank you very much!

Maybe it is a bit early to say, but I confirm it seems to be solved for me too (at least on the previously reported reproducible case).

[2017-07-11 15:40] LuisFRosas opened #19 "Uncaught TypeError: Cannot read property 'classList' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Unknown Windows version
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

### Stack Trace

Uncaught TypeError: Cannot read property 'classList' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-12 17:41] oriolmirosa commented on #19
Thanks for reporting this, @LuisFRosas. I will need some more info in order to debug this:

1. Can you tell me what files and panels you had open when this happened?
2. What file were you modifying?
3. Can you reproduce the bug?
4. I see that you had the opened-files package installed as well. It is possible that that's where the problem comes from. Have you tried to run only the open-files packag

[2017-07-15 09:06] nsatija opened #20 "Uncaught TypeError: Cannot read property 'item' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.11.6
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

### Stack Trace

Uncaught TypeError: Cannot read property 'item' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-19 12:55] gtozzi opened #21 "Feature Request - seperate tab"
Hi again,

would it be possible to have the "open files" in a separate tab instead of having it on top of the project tab?

![tab](https://user-images.githubusercontent.com/386394/28367714-3e03b526-6c92-11e7-9860-320ab67beb60.jpg)

[2017-07-21 15:02] oriolmirosa commented on #21
Hi @gtozzi, I like the idea. My plan is to make this a fully featured package with many options, including having the open files panel as a separate panel from the tree view (so that it is always visible and doesn't scroll with the tree view) and, as you suggest, as a separate tab. The only issue is that I'm in the process of trying to find a job as a data scientist now and I'm spending all my tim

[2017-07-21 15:04] oriolmirosa commented on #20
Thanks for reporting this, @nsatija. I will need some more info in order to debug this:

- Can you tell me what files and panels you had open when this happened?
- What file were you modifying?
- Can you reproduce the bug?
- I see that you had the opened-files package installed as well. It is possible that that's where the problem comes from. Have you tried to run only the open-files package and d

[2017-07-22 15:05] Jole91 opened #22 "Uncaught TypeError: Cannot set property 'innerHTML' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Ubuntu 16.04.2
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

### Stack Trace

Uncaught TypeError: Cannot set property 'innerHTML' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-25 22:11] oriolmirosa commented on #22
Thanks for reporting this, @Jole22 . I will need some more info in order to debug this:

- Can you tell me what files and panels you had open when this happened?
- What file were you modifying?
- Can you reproduce the bug?

Thanks!

[2017-08-08 11:42] MaciekBielski opened #23 "Feature Request"
Hi,

Would it be difficult to implement a shortcut that triggers the focus/unfocus on the open files tree? Analogically to what is available for 'FOLDERS' tree. I would enjoy it a lot.
Thanks!

[2017-09-14 11:24] tobiastom commented on #20
I think I have the same error. I did click on the `X` to close the Settings "document".

[2017-09-24 00:02] mfour-merickson commented on #20
+1 on this error.

For me, it happens when I click the X, or simply select a file.  What is disheartening, this same issue occurred from the package you forked so you might have converted by CoffeeScript to ES6

[2017-09-24 13:30] oriolmirosa commented on #20
Thanks for your comments and sorry for the delay in responding to some of you. I'm in the middle of several big life transitions and things are crazy. As I mentioned earlier in this thread, this is frustrating for me because I don't experience the problem, so I don't know how to debug it. It would be really helpful if someone could give me more details:

- Does the problem happen **every time** th

[2017-09-28 08:41] skjnldsv commented on #19
I have this issue as well :(
It happens when I try to close the settings when it's opened on the first pane.

![kazam](https://user-images.githubusercontent.com/14975046/30957277-15bc1b1e-a43a-11e7-91da-a70d8ae53aec.gif)

[2017-10-13 22:58] sygint commented on #19
I get this all the time just switching tabs

[2017-11-08 14:14] joedf commented on #19
For me, it seems it is more particular switching to package changelog tabs

[2017-12-06 11:53] downeyfe opened #24 "Uncaught Error: Emitter has been disposed"
Steps to reproduce

1. Have unstaged changes visible in the Github integration pane
2. Double-click on a file to stage it
3. About 50% of time the error will appear

**Atom**: 1.22.1 x64
**Electron**: 1.6.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

### Stack Trace

Uncaught Error: Emitter has been disposed

[code]

###

[2017-12-06 19:29] Xrave commented on #24
[Enter steps to reproduce:]
Have github Plus installed.

Click unstaged changes and look at the content of the unstaged change.

This error appears. (nothing seems to be broken tho).

**Atom**: 1.21.1 x64
**Electron**: 1.6.15

**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

### Stack Trace

Uncaught Error: Emitter has been disposed

[code]

### Commands

[co

[2017-12-08 02:47] oriolmirosa commented on #24
Thanks for reporting this issue. As with other similar bugs with the package, I'm a bit at a loss because I'm unable to reproduce the problem on my machine, so it's hard to debug. Would you mind letting me know:

1) what your configuration for the package is (sort order, delay, animation duration, collapsable)
2) what other files are open, and what files did you recently open or close

Thanks!

[2017-12-12 12:37] downeyfe commented on #24
Sure, here's my config - animation duration: default (300), collapsable: true, delay: default (1000), sort order: default (base, ext, dir).

As for open files, I've seen it happen with javascript files because I use them the most, but it's probably happened a few times with HTML/CSS files as well.

[2018-01-29 15:44] asdf23 opened #25 "Feature Request - right click copy file paths"
I'd like to get a list of the open files.
Here's the use case. I grep for files containing a string, I go through each file looking for some issue, close the files that are not affected by issue. For the remaining files I need to know which ones they are.

[2018-02-02 14:28] asdf23 commented on #19
What was the tool to create the gif?

I seem to trigger this bug when I switch to a tab that does not have selected text. (Not sure this is related, but also both tabs are unsaved files).

This fails everytime --->
So workflow would be open atom, Ctrl + N, Ctrl + N, Ctrl + PageUp

[2018-02-05 23:04] 1campbellj commented on #24
This is happening pretty consistently for me if I switch between files very quickly.

1. Have multiple files in in the Staged Changes or Unstaged Changes portion of the git integration tab.
2. Switch rapidly between the diffs of the two files by clicking on one and then the other and back again quickly.

[2018-03-05 18:32] greedylan commented on #19
Do we have any update on this issue?

[2018-04-05 13:28] asdf23 commented on #19
I try/caught this on my box and it's no longer crashing

[2018-04-05 14:07] skjnldsv commented on #19
kazam + gifify

[2018-04-05 15:09] oriolmirosa commented on #19
Sorry all for the radio silence. I have a new full-time job with a startup and I'm swamped, plus I'm a new dad, so things are crazy on my end. Moreover, I don't get the crash so it's hard to test and fix from here. I'll try to work on this during the weekend and will report back then. Sorry again.

[2018-05-21 09:33] UrsaDK commented on #21
This would be absolutely awesome!!

[2018-05-31 14:32] oddvalue commented on #24
[Enter steps to reproduce:]

1. Open git panel.
2. Double click file in list to stage/unstage it before the diff has loaded on the left throws the error.
3. Clicking the file once, waiting for the diff to load, then double clicking works fine.

**Atom**: 1.27.1 x64
**Electron**: 1.7.15
**OS**: Mac OS X 10.13.4
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.2

[2018-06-12 15:43] misterbridge commented on #19
Any news ?

[2018-08-29 22:33] kmalone75 opened #26 "Uncaught TypeError: entry.item.getTitle is not a function"
[Enter steps to reproduce:]

1. Clicked on file in "Unstaged Changes" or "Staged Changes" in Github, Git tab.

Red error message appears.
<img width="461" alt="screen shot 2018-08-29 at 3 32 51 pm" src="https://user-images.githubusercontent.com/552210/44819206-e16e0100-aba0-11e8-9052-0f0b61599eec.png">

**Atom**: 1.30.0 x64
**Electron**: 2.0.5
**OS**: Mac OS X 10.13.6
**Thrown From**: [open-files]

[2018-10-16 19:08] #26 closed, assigned to nobody

[2018-10-19 19:16] romanws commented on #7
Upvoting this. I've installed Atom today and I'll keep using TextWrangler until this feature gets implemented :)
Also I think creating a new untitled file should show the new file at the bottom of the list. And maybe assign a number to each new file? "untitled 1", "untitled 2", etc.

[2018-11-30 19:00] justin-barca opened #28 "Uncaught TypeError: item.getTitle is not a function"
[Enter steps to reproduce:]

1. Install 'github' package alonside this package
2. In a git project, create unstaged changes, and open the 'git' panel (link on bottom right corner)
3. Click on the files to open an unstaged changes window (sometimes it takes multiple clicks on different files to trigger), should see error below

**Atom**: 1.33.0 x64
**Electron**: 2.0.11
**OS**: Ubuntu 18.04.1
**Thro

[2019-02-25 13:41] asdf23 commented on #19
open-files-pane-view.js

~line 454
Change

[code]

to

[code]

and again ~ 470
[code]

[2019-04-04 15:12] jpromocion commented on #12
Interesting option

[2019-04-09 16:05] MaherAlshaar commented on #22
what should i do now

[2019-09-29 17:40] ninnghazad opened #29 "Feature request: always show directory"
Have toggle to always show the path, useful for when you have similar filenames in different directories.

[2019-10-15 02:17] JossueValar commented on #20
1. Yes it does.
2. The X in the open files panel.
3. It was just installed and was working fine until I closed Atom, then it happened. My guess is that my atom didn't install right in some way because I was having problems even with tree-view but I don't know.
4. I first closed the tabs after atom booted, then I couldn't see the side panel so I toggled it and there were the tabs I just closed, whe

[2019-11-14 08:03] Kanaduchi commented on #19
@oriolmirosa Any updates on this issue? I get this error every day. It is very annoying

[2019-12-18 09:14] newlukai commented on #19
I can reproduce this creating two files without saving them. Switching between both unnamed files raises this error.

[2020-01-22 20:11] pauljherring commented on #19
Error:
[code]

What I did:

[code]

While I can't confirm it's fixed the problem (it *should*) I've not had the error for a while...

[2020-02-02 04:23] jdpipe commented on #20
I got this error when clicking a file in the 'open-files' list, then typing 'ctrl-w' to close the file. Actually I closed one file, then I closed another one by the same message. There is a noticeable delay after each 'ctrl-w' before the open-files list's animation removes the file and closes the gap. The gap is long enough to make one wonder if one had clicked successfully or not...

[2020-02-02 09:15] jdpipe opened #31 "Uncaught Error: Adding a pane item with URI '~/ascend/fprops-incomp/models/johnpye/fprops/SConscr..."
This error occurs intermittently when closing files using "ctrl-w" when the 'open-files' package installed. It happens often enough that it shouldn't be too hard to test. Could be some kind of race condition or something...? I've usually got ~20 files or so open when the error occurs, and it's an older laptop.

**Atom**: 1.43.0 x64
**Electron**: 4.2.7
**OS**: Ubuntu 18.04.4
**Thrown From**: [open-

[2020-04-09 11:06] mlvrkhn opened #32 "Uncaught TypeError: Arguments to CompositeDisposable.add must have a .dispose() method"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.45.0 x64
**Electron**: 4.2.7
**OS**: Mac OS X 10.15.4
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.4

### Stack Trace

Uncaught TypeError: Arguments to CompositeDisposable.add must have a .dispose() method

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-03-31 05:00] andrew-walker-au commented on #22
I see the same issue - can reproduce by opening a markdown-preview window and then when I close it I get this error every time.
[Enter steps to reproduce:]

1. Open markdown preview of any .md file
2. Close markdown preview

**Atom**: 1.55.0 x64
**Electron**: 6.1.12
**OS**: Mac OS X 10.15.7
**Thrown From**: [open-files](https://github.com/oriolmirosa/open-files) package 0.8.4

### Stack Trace

Unc